body, head {
    all:unset;
    font-family: 'Roboto Slab', serif;
}
.jTit{
    font-size:450%;
    padding-bottom: 2%;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; 
    background-image: radial-gradient(circle,#60d4c1,#058079,#086581);
}
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 25%;
    background-color: rgba(0,0,0,0.25);
    border-radius: 50px;
}
a {
    all:unset;
}
button, .btn {
    all:unset;
    display: block;
    cursor: pointer;
    border: solid 1px rgb(35,35,35);
    height: 12.5%;
    width: 55%;
    font-size: 25px;
    border-radius: 10px;
    margin: 4%;
    transition: transform 0.15s ease-in-out;
    overflow: hidden;  

    display: flex;
    align-items: center;
    justify-content: center;

}.container button:hover, .btn:hover {
    background-color: rgba(0,0,0,0.2655);
    transform: scale(1.25);
}